.chat-main {
  width: calc(100% - 300px);
  float: left;
  .main-header {
    height: 100px;
    padding: 0 40px;
    display: flex;
    justify-content: space-between;
    border-bottom: solid 1px #eeeeee;
    overflow: scroll;
    &__left-box {
      margin-top: 35px;
      &__current-group {
        margin-bottom: 15px;
        font-size: 20px;
        color: #333333;
      }
      &__member-list {
        
        margin-top: 15px;
        font-size: 12px;
        color: $light_gray;
      }
    }
    &__edit-btn {
      color: $light_blue;
      height: 40px;
      line-height: 40px;
      align-items: center;
      padding: 0 20px;
      border: solid 1px $light_blue;
      right: 40px;
      margin-top: 28px;
      text-decoration: none;
    }
  }
  .messages {
    height: calc(100vh - 100px - 90px);
    padding: 46px 40px;
    background-color: #fafafa;
    overflow: scroll;
    .message {
      padding-bottom: 40px;
      &__upper-info {
        display: flex;
        margin-bottom: 10px;
        &__talker {
          color: $black;
          font-size: 16px;
          font-weight: bold;
          padding-right: 10px;
        }
        &__date {
          color: $light_gray;
          font-size: 12px;
        }
      }
      &__text {
        color: $black;
        font-size: 14px;
        margin-bottom: 10px;
      }
    }
  }
  .form {
    height: 50px;
    padding: 20px 40px;
    background-color: #ddd;
    position: fixed;
    bottom: 0;
    width: calc(100vw - 380px);
    &__message {
      height: 50px;
      width: calc(100% - 135px);
      padding: 0 10px;
      margin-right: 15px;
      color: $light_gray;
      position: relative;
    }
    &__mask {
      &__image {
        height: 50px;
        font-size: 1.3rem;
        position: absolute;
        top: 30px;
        right: 160px;
        cursor: pointer;
        .hidden {
          display: none;
        }
      }
    }
    &__submit {
      position: absolute;
      top: 20px;
      right: 40px;
      width: 100px;
      height: 50px;
      background-color: $light_blue;
      color: $white;
      cursor: pointer;
    }
  }
}